/*页码*/
.page-bar
{
    position:relative;
    margin-top:10px;
}
.page-num-ul li
{
    float:left;
}
.page-num-ul li a
{
    display:inline-block;
    padding:3px 5px;
    margin:0px 3px;
    border:1px solid #b8b8b8;
}
.page-num-ul a:hover,.page-num-ul .thisclass
{
    border:1px solid #c5063f;
    background-color:#c5063f;
    color: rgba(251, 251, 251, 0.81);
    text-decoration:none;
}
.page-key
{
    width:80px;
    background-color: #b2d9ca;
}
.page-btn
{
    border:1px solid #b8b8b8;
    background-color: #5c84ff;
    display:inline-block;
    width:52px;
    height:25px;
    line-height:25px;
    font-weight:20px;
}
.page-go-form
{
    position:absolute;
    display:inline-block;
    right:50px;
    top:0px;
}
.page-go-form input,label,button
{
    margin:0px 5px;
}


